src/main/java/net/soap/example/todolist/wsdl.xml

<!--
This XML file does not appear to have any style information associated with it. The document tree is shown below.
-->
<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Service.todolist.example.soap.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Service.todolist.example.soap.net/" name="TaskServiceImplService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://Service.todolist.example.soap.net/" schemaLocation="http://localhost:8000/ws/task?xsd=1" />
        </xsd:schema>
    </types>
    <message name="addTask">
        <part name="arg0" type="tns:task" />
    </message>
    <message name="addTaskResponse">
        <part name="return" type="xsd:boolean" />
    </message>
    <message name="deleteTask">
        <part name="arg0" type="xsd:int" />
    </message>
    <message name="deleteTaskResponse">
        <part name="return" type="xsd:boolean" />
    </message>
    <message name="getTask">
        <part name="arg0" type="xsd:int" />
    </message>
    <message name="getTaskResponse">
        <part name="return" type="tns:task" />
    </message>
    <message name="getAllTasks" />
    <message name="getAllTasksResponse">
        <part name="return" type="tns:taskArray" />
    </message>
    <portType name="TaskService">
        <operation name="addTask">
            <input wsam:Action="http://Service.todolist.example.soap.net/TaskService/addTaskRequest" message="tns:addTask" />
            <output wsam:Action="http://Service.todolist.example.soap.net/TaskService/addTaskResponse" message="tns:addTaskResponse" />
        </operation>
        <operation name="deleteTask">
            <input wsam:Action="http://Service.todolist.example.soap.net/TaskService/deleteTaskRequest" message="tns:deleteTask" />
            <output wsam:Action="http://Service.todolist.example.soap.net/TaskService/deleteTaskResponse" message="tns:deleteTaskResponse" />
        </operation>
        <operation name="getTask">
            <input wsam:Action="http://Service.todolist.example.soap.net/TaskService/getTaskRequest" message="tns:getTask" />
            <output wsam:Action="http://Service.todolist.example.soap.net/TaskService/getTaskResponse" message="tns:getTaskResponse" />
        </operation>
        <operation name="getAllTasks">
            <input wsam:Action="http://Service.todolist.example.soap.net/TaskService/getAllTasksRequest" message="tns:getAllTasks" />
            <output wsam:Action="http://Service.todolist.example.soap.net/TaskService/getAllTasksResponse" message="tns:getAllTasksResponse" />
        </operation>
    </portType>
    <binding name="TaskServiceImplPortBinding" type="tns:TaskService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
        <operation name="addTask">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </output>
        </operation>
        <operation name="deleteTask">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </output>
        </operation>
        <operation name="getTask">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </output>
        </operation>
        <operation name="getAllTasks">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </input>
            <output>
                <soap:body use="literal" namespace="http://Service.todolist.example.soap.net/" />
            </output>
        </operation>
    </binding>
    <service name="TaskServiceImplService">
        <port name="TaskServiceImplPort" binding="tns:TaskServiceImplPortBinding">
            <soap:address location="http://localhost:8000/ws/task" />
        </port>
    </service>
</definitions>